/* INDEX .HTML */
body {
  background-color: rgba(137, 43, 226, 0.158);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
}

h1,
p {
  text-align: center;
  margin-bottom: 0;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.knight-emoji {
  font-size: 40px;
}

a {
  color: rgb(185, 12, 185);
  padding: 0 5px;
}

a:hover {
  color: white;
}

footer {
  text-align: center;
  margin-top: 20px;
}
